---
# Store all of your variables here for the dev/Taskfile.yml
version: '3'
vars:
    NRO_GLOBAL_PLUGIN: "/path/to/sd_card/atmosphere/plugins/my_plugin.nro"
    # If developing a global plugin, this should be its name, given some absolute path
    SSBU_MOD_DIR: "/path/to/sd_card/mods/my_mod_directory/"
    # Where to deploy the current mod's assets.

tasks: 
    # Will remain empty.


